{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 76,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"bracketSameLine": true,
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"arrowParens": "always"
}
